---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@font-face {
    font-family: 'public-sans';
    src: url('../assets/fonts/PublicSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/PublicSans-Regular.woff') format('woff'),
         url('../assets/fonts/PublicSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'public-sans';
    src: url('../assets/fonts/PublicSans-Italic.woff2') format('woff2'),
         url('../assets/fonts/PublicSans-Italic.woff') format('woff'),
         url('../assets/fonts/PublicSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'public-sans';
    src: url('../assets/fonts/PublicSans-Medium.woff2') format('woff2'),
         url('../assets/fonts/PublicSans-Medium.woff') format('woff'),
         url('../assets/fonts/PublicSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'public-sans';
    src: url('../assets/fonts/PublicSans-MediumItalic.woff2') format('woff2'),
         url('../assets/fonts/PublicSans-MediumItalic.woff') format('woff'),
         url('../assets/fonts/PublicSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'public-sans';
    src: url('../assets/fonts/PublicSans-Bold.woff2') format('woff2'),
         url('../assets/fonts/PublicSans-Bold.woff') format('woff'),
         url('../assets/fonts/PublicSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'public-sans';
    src: url('../assets/fonts/PublicSans-BoldItalic.woff2') format('woff2'),
         url('../assets/fonts/PublicSans-BoldItalic.woff') format('woff'),
         url('../assets/fonts/PublicSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

$font-family: 'public-sans', sans-serif;

$brand-vlight:#E5FAF5;
$brand-light: #B2F1E1;
$brand:       #22CB9F;
$brand-dark:  #07B190;
$light:       #ffffff;
$gray-1:      #fafafb;
$gray-2:      #f4f4f5;
$gray-3:      #e9eaec;
$gray-4:      #ccccce;
$gray-5:      #c1c2c4;
$gray-6:      #b1b2b4;
$gray-7:      #a1a2a4;
$gray-8:      #808281;
$gray-9:      #444948;
$dark:        #1d2322;

$site-width:  960px;
$border-radius: 4px;

$breakpoint-md: 480px;
$breakpoint-lg: 960px;

@import
    "normalize",
    "typography",
    "layout"
;