---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@font-face {
    font-family: 'Basier Circle';
    src: url('../assets/fonts/basiercircle-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/basiercircle-regular-webfont.woff') format('woff'),
         url('../assets/fonts/basiercircle-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Basier Circle';
    src: url('../assets/fonts/basiercircle-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/basiercircle-medium-webfont.woff') format('woff'),
         url('../assets/fonts/basiercircle-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Basier Circle';
    src: url('../assets/fonts/basiercircle-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/basiercircle-semibold-webfont.woff') format('woff'),
         url('../assets/fonts/basiercircle-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Basier Circle';
    src: url('../assets/fonts/basiercircle-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/basiercircle-bold-webfont.woff') format('woff'),
         url('../assets/fonts/basiercircle-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

$display-font-family: 'Basier Circle', sans-serif;
$text-font-family: 'Public Sans', sans-serif;

// Brand colours

$white:                 rgba(255, 255, 255, 1);
$timberwolf:            rgba(222, 219, 214, 1);
$beaver:                rgba(159, 129, 112, 1);
$silver-sand:           rgba(168, 170, 176, 1);
$spanish-gray:          rgba(138, 142, 149, 1);
$black-coral:           rgba(76, 85, 94, 1);
$gunmetal:              rgba(30, 38, 46, 1);
$beau-blue:             rgba(188, 212, 230, 1);
$corn:                  rgba(255, 219, 0, 1);
$jade:                  rgba(0, 168, 107, 1);
$electric-indigo:       rgba(111, 0, 255, 1);
$oxford-blue:           rgba(17, 37, 69, 1);

// Primary Colours

$primary:               $jade;
$primary-accent:        rgba(23, 151, 108, 1);
$primary-active:        rgba(45, 134, 108, 1);

// Secondary Colours

$secondary:             rgba(238, 251, 247, 1);
$secondary-accent:      rgba(167, 229, 191, 1);
$secondary-active:      rgba(208, 244, 228, 1);

// Functional Colours

$light:                 rgba(255, 255, 255, 1);
$gray-100:              rgba(244, 245, 247, 1);
$gray-200:              rgba(233, 234, 236, 1);
$gray-300:              rgba(228, 229, 231, 1);
$gray-400:              rgba(217, 218, 220, 1);
$gray-500:              rgba(207, 208, 210, 1);
$gray-600:              rgba(197, 198, 200, 1);
$gray-700:              $silver-sand;
$gray-800:              $spanish-gray;
$gray-900:              $black-coral;
$dark:                  $gunmetal;

$site-width:    960px;
$border-radius: 3px;

$breakpoint-sm: 320px;
$breakpoint-md: 560px;
$breakpoint-lg: 960px;

@import
    "normalize",
    "typography",
    "layout"
;