<footer>
    <div class="wrapper">
        <div class="column">
            <h4>Stub</h4>
            <ul>
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">What's new?</a></li>
            </ul>
        </div>

        <div class="column">
        <h4>Resources</h4>
            <ul>
                <li><a href="">Help Center</a></li>
                <li><a href="">Status</a></li>
                <li><a href="">API</a></li>
            </ul>
        </div>

        <div class="column">
            <h4>Company</h4>
            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Mission</a></li>
                <li><a href="">Careers</a></li>
            </ul>
        </div>

        <p>&copy; Stub 2020 | <a href="">Privacy & Terms</a></p>
    </div>
</footer>