<footer>
    <div class="wrapper">
        <div class="column">
            <h5>stub</h5>
            <ul>
                <li><a href="https://stub.africa">Features</a></li>
                <li><a href="https://stub.africa/pricing">Pricing</a></li>
                <li><a href="https://medium.com/stubafrica">What's new?</a></li>
            </ul>
        </div>

        <div class="column">
        <h5>Resources</h5>
            <ul>
                <li><a href="{{ site.url }}/">Help Center</a></li>
                <li><a href="https://medium.com/stubafrica">News</a></li>
                <li><a href="https://stub.africa/building-stub">Building stub</a></li>
            </ul>
        </div>

        <div class="column">
            <h5>Company</h5>
            <ul>
                <li><a href="https://stub.africa/about">About us</a></li>
                <li><a href="https://stub.africa/about">Mission</a></li>
                <li><a href="https://stub.africa/careers">Careers</a></li>
            </ul>
        </div>

        <div class="column">
            <h5>Follow us</h5>
            <ul>
                <li><a target="_blank" href="https://www.instagram.com/stubafrica/"><img class="icon" src="/assets/icons/instagram.svg" height="20px" width="20px"/>&nbsp;Instagram</a></li>
                <li><a target="_blank" href="https://www.facebook.com/stubafrica/"><img class="icon" src="/assets/icons/facebook.svg" height="20px" width="20px"/>&nbsp;Facebook</a></li>
                <li><a target="_blank" href="https://twitter.com/stubafrica"><img class="icon" src="/assets/icons/twitter.svg" height="20px" width="20px"/>&nbsp;Twitter</a></li>
            </ul>
        </div>

        <p class="copyright">&copy; Stub 2020. All rights reserved.</p>
        <p class="policies"><a href="{{ site.url }}/terms/">Terms</a> • <a href="{{ site.url }}/privacy/">Privacy</a> • <a href="{{ site.url }}/refunds/">Refunds</a></p>
    </div>
</footer>