<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDnuy1ZMiaWtlZqcJk4ttLXRkp4946b4YE",
    authDomain: "stub-support.firebaseapp.com",
    databaseURL: "https://stub-support.firebaseio.com",
    projectId: "stub-support",
    storageBucket: "stub-support.appspot.com",
    messagingSenderId: "332919600668",
    appId: "1:332919600668:web:62ee7aa20dcf952ab891d9",
    measurementId: "G-PH8PZ08T8D"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>