<header>
    <nav class="site-nav">
        <div class="wrapper">
            <a href="https://stub.africa/"><img src="{{ '/assets/img/stub-logo.svg' | prepend: site.url }}" alt="Stub Support" class="stub-logo"></a>
            <h1><a href="{{ site.url }}/">Help Centre</a></h1>
            <a href="https://stub.africa/" target="_blank" class="button">Log in <span class="material-icons">open_in_new</span></a>
        </div>
    </nav>

    <div class="page-title">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
            <p>{{ page.subtitle }}</p>
        </div>
    </div>
</header>

