.site-nav {
    padding-top: 3px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 16px;
            font-weight: 700;
            margin: 0 24px;
            flex-grow: 2;

            a {
                color: $dark;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.stub-logo {
    width: 70px; 
    height: auto;
}
@media (min-width: $breakpoint-md) {
    .stub-logo {
        width: 80px;
    }
    .site-nav {
        .wrapper {   
            h1 {
                font-size: 18px;
            }
        }
    }
}
@media (min-width: $breakpoint-lg) {
    .stub-logo {
        width: 100px;
    }
    .site-nav {
        .wrapper {   
            h1 {
                font-size: 20px;
            }
        }
    }
}

.page-title {
    background-image:
        linear-gradient(
        to right, 
        #0D0E20,
        #121640
        );
    padding: 18px 0;

    h1,h2,h3,h4,h5,h6 {
        color: $light;
        margin: 9px 0;
    }
    p {
        color: $gray-2;
        margin: 12px 0;
    }
}
@media (min-width: $breakpoint-lg) {
    .page-title {
        padding-bottom: 24px 0;
    }
}

.wrapper {
    padding: 12px;
    max-width: $site-width;
    margin: 0 auto;
}
@media (min-width: $breakpoint-md) {
    .wrapper {
        padding: 18px;
    }
}
@media (min-width: $breakpoint-lg) {
    .wrapper {
        padding: 24px;
    }
}

.toc-and-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .toc {
        width: 100%;
        background: $gray-1;
        padding: 0 24px;
        border-radius: 9px;
        box-sizing: border-box;

        ul {
            list-style: none;
            padding: 0;

            ul {
                margin: 0;
                padding-left: 18px;
            }
        }
    }
    .content {
        width: 100%;
    }
}
@media (min-width: $breakpoint-lg) {
    .toc-and-content {        
        .toc {
            width: 33%;
            order: 2;
        }
        .content {
            width: 66%;
        }
    }
}

footer {
    background: $gray-1;

    .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        .column {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }
}
@media (min-width: $breakpoint-md) {
    footer {
        .wrapper {
            .column {
                width: 33%;
            }
        }
    }
}
@media (min-width: $breakpoint-lg) {
    footer {
        .wrapper {
            .column {
                width: 25%;
            }
        }
    }
}
